# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*

# next.js
.next/
out/
build/

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem

# env (NUNCA committear)
.env
.env*.local

# vercel
.vercel

# testing
coverage/
.nyc_output/

# supabase local
supabase/.branches/
supabase/.temp/

# editor
.vscode/
.idea/
.antigravitycli/
